*{
  margin: 0;
  padding:0;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.calcContainer{
height: 70vh;
width: 40vh;
margin-top: 15vh;
background-color: #f0f1f5;
border-radius: 2rem;
box-shadow: 2rem ;
border: 2px solid black;
}

.calcDisplay{
height:20vh ;
width: 40vh;
background-color: #f9f9f9;
border-radius: 2rem;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
border: 2px solid black;
display: flex;
justify-content: center;
justify-content: flex-start;
align-items: end;
}

#text{
  
  margin-top: 5vh;
  font-size: 3rem;

}

.btnsContainer{
  height: 50vh;
  width:40vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.buttons{
  height: 8vh;
  width: 8vh;
  border-radius: 50%;
  background-color:#f9f9f9; 
  margin-top: 1.5vh;
  margin-left: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:Roboto,Helvetica ;
  font-size: 1.5rem;
  user-select: none;
}

.symbols{
  font-size: 1rem;
  background-color: #dbe5f4;
}

.buttons:active{
  border-radius: 25%;
}














